<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-mb-3 text-center">
                        <h4>Venda</h4>
                    </div>
                </div>
            </div>
            <form action="/pedido/salvarPedido" method="POST">
                <div class="form-control">
                    <div class="row" id="linha-form">
                        <div class="col-12 col-sm-3">
                            <input type="hidden" name="id" value="{{pedido.id}}">
                            <label for="id_pedido" class="form-label" style="margin-top: 10px;">ID Venda:</label>
                            <input type="number" class="form-control" name="id_pedido" value="{{pedido.id}}" disabled readonly>
                        </div>
                        <div class="col-12 col-sm-3">
                            <label for="data" class="form-label" style="margin-top: 10px;">Data:</label>
                            <input type="date" class="form-control" name="data" value="{{pedido.data}}" required>
                        </div>
                    </div>
                    <div class="row" id="linha-form">
                        <div class="col-12 col-sm-6">
                            <label for="intermediario" class="form-label" style="margin-top: 5px; margin-bottom: 5px;">Intermediario:</label>
                            <select class="form-select" aria-label="intermediario" name="intermediario" required>

                                {{#each intermediarios}}
                                {{#if this.selecionado}}
                                <option value="{{this.id}}" selected>{{this.nome}}</option>
                                {{else}}
                                <option value="{{this.id}}">{{this.nome}}</option>
                                {{/if}}
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-12 col-sm-3">
                            <label for="valor_pedido" class="form-label" style="margin-top: 5px; margin-bottom: 5px;">Valor Venda:</label>
                            <input type="text" class="form-control float-end text-start" name="valor_pedido" id="valor_pedido"
                                value="R${{pedido.valor_pedido}}" disabled readonly>
                        </div>
                    </div>
            </form> 
        </div>

        <div class="row" id="linha-form">
            <div class="col-12 col-sm-12 text-center">
                <h5>Itens da Venda</h5>
            </div>
        </div>
        <form action="javascript:;" onsubmit="AdicionarProduto(this);" method="POST">
        <input type="hidden" name="PedidoId" value="{{pedido.id}}">
        <div class="form-control">
            <div class="row">
                <div class="col-12 col-sm-12">
                    <hr class="bg-dark border-2 border-top border-dark">
                </div>
            </div>
            <table class="table table-striped table-hover align-middle">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Produto</th>
                        <th style="text-align:center !important" scope="col">Quantidade de Kg</th>
                        <th style="text-align:center !important" scope="col">Valor por Kg</th>
                        <th style="text-align:right !important" scope="col">Total Item</th>
                    </tr>
                </thead>
                <tbody>
                 {{#if itens}}  
                    {{#each itens}}
					<tr id='{{this.id}}'><th scope='row'>{{this.ProdutoId}}</th>
						<td>{{this.Produto.nome}}</td>
						<td align='center'>{{this.quantidade}} Kg</td>
						<td align='center'>R${{this.valor_unitario}}</td>
						<td align='right'>R${{this.valor_total}}</td>
						<td align='center'><span class='actions'>
                            <form action="javascript:;" onsubmit="RemoverProduto(this);" method="POST">
                                <input type='hidden' name='id_item' value='{{this.id}}'>
                                <input type='hidden' name='id_pedido' value='{{this.PedidoId}}'>
                            </form>
                        </span>
                        </td>
                    </tr>
    
                    {{/each}}

                 {{/if}} 
                </tbody>
            </table>
            <div style="text-align: center;"><br>Assinatura<br><br><hr></div>
        </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
        function AdicionarProduto(form) {
            $.post("/pedido/addProduto", $(form).serialize(), function (resposta) {
                var linha = "<tr id='" + resposta.produto.id + "'><th scope='row'>" + resposta.produto.ProdutoId + "</th>";
                linha += "<td>" + resposta.produto.nome + "</td>";
                linha += "<td align='right'>" + parseFloat(resposta.produto.quantidade).toLocaleString('pt-BR', { style: 'decimal', minimumFractionDigits: 2, maximumFractionDigits: 2 }) + "</td>";
                linha += "<td align='right'>" + parseFloat(resposta.produto.valor_unitario).toLocaleString('pt-BR', { style: 'decimal', minimumFractionDigits: 2, maximumFractionDigits: 2 }) + "</td>";
                linha += "<td align='right'>" + parseFloat(resposta.produto.valor_total).toLocaleString('pt-BR', { style: 'decimal', minimumFractionDigits: 2, maximumFractionDigits: 2 }) + "</td>";
                linha += `<td align='center'><span class='actions'>
                            <form action='javascript:;' onsubmit='RemoverProduto(this);' method='POST'>
                                <input type='hidden' name='id_item' value='${resposta.produto.id}'>
                                <input type='hidden' name='id_pedido' value='${resposta.produto.PedidoId}'>
                                <button type='submit' data-toggle='tooltip' data-placement='top' data-title='Excluir'>
                                    <i class='bi bi-trash3-fill' id='lixeira'></i>
                                </button>
                            </form>
                        </span></td></tr>`;
                $("table tbody").append(linha);
                $("#valor_pedido").val(parseFloat(resposta.total_pedido).toLocaleString('pt-BR', { style: 'decimal', minimumFractionDigits: 2, maximumFractionDigits: 2 }));
                $("#quantidade").val(parseFloat(1).toFixed(2));
                $("#ProdutoId option")[0].selected = true;
            });
        };

        function RemoverProduto(form) { 
            $.post("/pedido/removeProduto", $(form).serialize(), function (resposta) {
                $("#"+resposta.item+"").remove();
                $("#valor_pedido").val(parseFloat(resposta.total_pedido).toLocaleString('pt-BR',{style:'decimal',minimumFractionDigits:2,maximumFractionDigits:2}));
            });
        };
</script>

<script>
    window.onload = function() { window.print(); }
</script>