
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h4>Usuários</h4>
                    </div>
                    <div class="col-sm-7">
                        <a href="/usuario/criar" class="btn btn-success"><i class="bi bi-plus-circle-fill"></i><span> Novo</span></a>						
                    </div>
                </div>
            </div>
    
    <table id="tabela" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>E-mail</th>
                {{!-- <th>Ações</th> --}}
            </tr>
        </thead>
        <tbody>
        {{#each resultado}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.nome}}</td>
                <td>{{this.email}}</td>
                {{!-- <td>      
                    <span class="actions">
                        <a href="/usuario/editar/{{this.id}}" data-title="Editar"><i class="bi bi-pencil-fill" id="lapis"></i></a>
                        <form action="/usuario/remover" method="POST">
                            <input type="hidden" name="id" value={{this.id}}>
                            <button type="submit" data-toggle="tooltip" data-placement="top" data-title="Excluir">
                                <i class="bi bi-trash3-fill" id="lixeira"></i>
                            </button>
                        </form>
                    </span>
                </td> --}}
            </tr>
        {{/each}}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    </div>
    </div>
    </div>
    <!--Js do datatable com exportações-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
    <script>
      $(document).ready(function () {
        $('#tabela').DataTable({

        "language": {
            "url": "/cdn/pt-BR.json",
        },
        dom: '<fB<t>lp>',
        buttons: [
            {
                extend: 'collection',
                text: 'Exportar',
                buttons: ['pdf', 'excel','csv','print'],
            }
        ],
        columnDefs: [
        {
            targets: 2,
            className: "dt-center",
        }
        ],
        order: [[0, 'desc']],

        });
        
      });
    </script>
	
